.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 GitLab Benefits
    As a single application for the complete DevOps lifecycle, GitLab is:
    %ul
      %li
        %strong Seamless:
        GitLab supports collaboration and visibility for Agile teams—from planning to deployment and beyond—with a single user experience and a common set of tools
      %li
        %strong Integrated:
        Manage projects in the same system where you perform your work
      %li
        %strong Scalable:
        Organize multiple Agile teams to achieve enterprise Agile scalability
      %li
        %strong Flexible:
        Customize out-of-the-box functionality to the needs of your methodology, whether you're rolling your own flavor of Agile or adopting a formal framework
      %li
        %strong Easy to learn:
        See our
        %a{ href: "https://www.youtube.com/watch?v=VR2r1TJCDew" }
          Quick Start
        guide on setting up Agile teams
.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/blogimages/cicd_pipeline_infograph.png", alt: "CI/CD Overview", style: "margin-top: 40px;"
%hr.divider
